!.gitignore
.Backup/
*/.config/less/lesshst
*/.config/wget/wgetrc
*/.config/wget/wget-hsts
*/.config/bash/bash_history
arch/.config/qtile/__pycache__
arch/.config/qtile/themes/__pycache__
arch/.config/qtile/qtile.log
arch/.config/qtile/config.json
arch/.config/micro/backups
arch/.config/micro/buffers
