!.gitignore
Backup/
arch/.config/less/.lesshst
arch/.config/wget/.wgetrc
arch/.config/wget/.wget-hsts
arch/.config/bash/.bash_history
arch/.config/qtile/__pycache__
arch/.config/qtile/settings/__pycache__
